{%- comment -%}
  Renders country flag from local assets folder
  
  Accepts:
    - country_iso: The 2-letter ISO country code (e.g., 'US', 'CA', 'GB')
  
  Usage:
    {% render 'country-flag', country_iso: 'US' %}
{%- endcomment -%}

{%- liquid
  assign flag_file = country_iso | upcase | append: '.svg'
-%}

<span class="country-flag country-flag-icon">
  <img 
    src="{{ flag_file | asset_url }}" 
    width="20" 
    height="15" 
    alt="{{ country_iso }}" 
    loading="lazy" 
    class="country-flag-img"
    onerror="this.style.display='none'"
  />
</span>

