p, div, img,a,span,picture{
    padding:0;
    }
    .subclass-header1,
    .subclass-subheader1,
    .text-article-date-color1
    .arrow-svgsub1 {
      color: var(--text);
    }
    .subclass-header1{
    font-size:42px;
  }
    .maindiv{
    max-width:500px;
    margin-right:2.65vw;
  } 
  .group:hover img,
    .zoom-trigger1:hover img {
      transform: scale(1.1);
      transition: transform 0.3s;
    }
  .zoom-trigger1{
    flex:1;
  order:2; 
  height:1400px;
  width:1120px;
  } 
  
  .subclass-subheader1{
  line-height:0.9;
    display:block;
  margin-top:20px;
  }
  @media (max-width:768px){
    .maindiv{
      max-width:119px !important;
    }
    .text-article-date-color1{
    font-size:14px !important;
  }
  .subclass-subheader1{
    line-height:1 !important;
  margin-top:10px !important;
  font-size:14px !important;
  }
   .subclass-header1{
    font-size:24px !important;
  }
    .zoom-trigger1 {
      width: 100% !important;
      height: auto !important;
    }
    .zoom-trigger1 img {
      width: 100% !important;
      height: auto !important;
      display: block;
    }
    .arrow-svgsub1{
      height:14px;
      width:20px;
    }
  }