.email-signup-section {
  background: linear-gradient(135deg, #111, #333);
  padding: 20px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}
.form-fields-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.email-signup-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  margin: auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.email-input {
    width: 100%;
  padding: 20px;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background: transparent;
  border: 1px solid white;
  outline: none;
  box-sizing: border-box;
      border-radius: 10px;
}

.signup-button { width: 100%;
  padding: 20px;
  border-radius: 10px;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background: transparent;
  border: 1px solid white;
  outline: none;
  box-sizing: border-box;
  transition: background-color 0.3s ease, color 0.3s ease;
  }


.signup-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

/* Hover effect for signup button */
.signup-button:hover {
  background-color: white;
  color: black; /* Changed to black for better visibility on white background */
}

.arrow-icon {
  font-size: 40px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.signup-button:hover .arrow-icon {
  transform: translateX(5px);
  color: black; /* Ensures the arrow also changes color on hover */
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .email-input, .signup-button {
    font-size: 30px;
    padding: 10px;
  }
  
  .arrow-icon {
    font-size: 30px;
  }
}

/* Media Query for very small screens */
@media (max-width: 480px) {
  .email-input, .signup-button {
    font-size: 24px;
    padding: 8px;
  }
  
  .arrow-icon {
    font-size: 24px;
  }
}
