.bb-contact-right-container {
    margin-left: 90px;
    margin-bottom: 9rem;
    gap: calc(var(--spacing) * 10);
}

input:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: black !important;
}

.left-container {
  border-right: 2px solid black;
}

.con-button {
  margin-right: 20px;
}

.bb-con-form {
    gap: calc(var(--spacing) * 10);
}


.contact-button {
  overflow: hidden;
  transition: background-color 0s, color 0s;
}

.contact-button:hover {
  color: var(--button);
  background-color: var(--button_label);
  border: 1px solid var(--button);
}

.contact-button-text-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.contact-button-text {
  display: flex;
  align-items: center;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: transform 0.7s ease;
}

.contact-button:hover .contact-button-text {
  transform: translateX(-100%);
}

.contact-button-text-hover {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transform: translateX(100%);
  transition: transform 0.7s ease;
}

.contact-button:hover .contact-button-text-hover {
  transform: translateX(0);
}

.contact-button:not(:hover) .contact-button-text,
.contact-button:not(:hover) .contact-button-text-hover {
  transition: none;
}
.left-container {
    margin-left: 80px;
}

.bb-con-items {
    margin-right: 50px;
}

.bb-con-item-input {
    font-size: 18px;
}

.bb-contact-submit-btn {
    position: absolute;
    left: 100%;
    width: 100%;
    transform: translateX(-50%);
}

.bb-contact-page {
    position: relative;
    margin-bottom: calc(var(--spacing) * 20);
}

.bb-contact-form {
    position: relative;
}
@media screen and (max-width: 750px) {
    .bb-contact-page {
        flex-direction: column-reverse;
        gap: 8rem;
    }

    .bb-contact-submit-btn
    {
        left: 50%;
    }
    .bb-contact-form {
        width: 80%;
    }
    .bb-con-items {
        margin-right: 0px;
    }
    .left-container {
        border-right: none;
        width: 100%;
        margin-left: 0px;
        align-items: center;
    }
    .bb-contact-right-container {
        margin-left: 0;
        width: 100%;
        margin-bottom: 0;
        align-items: center;
    }

    .bb-contact-icon {
        flex-direction: column;
    }
    .bb-con-item-input {
        font-size: 13px;
    }
}