.faq-row:focus {
  outline: none;
}
.faq-row:focus-visible {
  outline: 2px solid blue;
}
@keyframes fadeUpIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.faq-preview-animate {
  animation: fadeUpIn 0.5s ease-out forwards;
}
@keyframes fadeUpIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.faq-animate-fadeup {
  animation: fadeUpIn 1.2s ease-out;
}

.preview-text a {
  text-decoration: underline;
  word-break: break-word;
}
.faq-title {
  color: var(--header_text);
}

.faq-item {
  color: var(--text);
}
.faq-toggle {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}
.faq-preview {
  margin-left:10px;
  margin-top:-2px;
}
.preview-text {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.preview-text.fade-out {
  opacity: 0;
}

.preview-text.fade-in {
  opacity: 1;
}

.arrow-svg1 {
  transition: transform 0.4s ease;
  transform-origin: center;
}

.faq-text-wrapper {
  transition: all 0.7s cubic-bezier(0.65, 0, 0.35, 1);
  overflow: hidden;
  max-height: 100px;
  opacity: 1;
}

.preview-text {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}
.faq-text-wrapper {
  transition: max-height 0.6s ease;
  overflow: hidden;
}

.faq-text-wrapper div {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.faq-text-wrapper div.show {
  opacity: 1;
}

@media (prefers-reduced-motion: reduce) {
  .arrow-svg1,
  .faq-answer {
    transition: none !important;
  }
}
@media (max-width: 767px) {
  .faq-title{
   height:70px;
  }
  .faq-toggle {
  margin-bottom: 5px;
}
  .faq-item {
    display: flex;
    align-items: flex-start; 
    gap: 18px;
  }
  .faq-preview {
    flex: 1;
    margin-left:2px;
    font-size:16px;
  }
  .faq-row-answer{
    margin-top:10px;
  }
  .faq-question{
    font-size:16px;
  }
}
.arrow-svg1 {
  transition: transform 0.4s ease;
  display: inline-block;
}

.faq-toggle[data-expanded="true"] .arrow-svg1 {
  transform: rotate(-90deg);
}
