* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  width: 100%;
  overflow-x: hidden;
}

.bandit-faq {
  margin: 40px auto;
  padding: 0 20px;
  width: 100%;
  max-width: 100%;
}

.faq-title {
  background-color: var(--color-background);
  color: var(--color-foreground);
  text-align: left;
  text-transform: uppercase;
  padding: 10px;
  margin: 10px 0;
  border-bottom: 1px solid #333;
  font-size: 120px;
  font-weight: 500;
  width: 100%;
}

.faq-item {
  background-color: var(--color-background);
  color: var(--color-foreground);
  border-bottom: 1px solid #333;
  padding: 15px 17px;
  width: 100%;
  position: relative;
}

.faq-row {
  display: grid;
  grid-template-columns: 50% 5px 7px;
  grid-template-areas: 
    "question toggle toggle"
    "answer answer answer";
  column-gap: 10px;
  width: 100%;
}

.faq-question {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
  grid-area: question;
}

.faq-toggle:disabled svg {
  fill: var(--color-foreground);
  stroke: var(--color-foreground);
  opacity: 1;
}

.faq-answer {
  margin-top: 0;
  font-size: 25px;
  font-weight: 500;
  width: 100%;
  display: none;
  grid-area: answer;
  word-wrap: break-word;
}

.faq-item.open .faq-answer {
  display: block;
}

.faq-item.open .faq-row {
  grid-template-columns: auto 1fr;
  grid-template-areas: 
    "question question"
    "toggle answer";
}

.faq-toggle {
  background: none;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  grid-area: toggle;
  margin-top: 5px;
}

.faq-preview {
  opacity: 1;
  transition: opacity 0.4s ease, transform 0.4s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: 19px;
  grid-row: 1;
}

.faq-preview.expanded {
  white-space: normal;
  transform: scale(1.01);
}

.arrow-svg {
  transition: transform 0.3s ease;
}

.arrow-svg.rotate {
  transform: rotate(90deg);
}

@media (max-width: 1024px) {
  .faq-title {
    font-size: 100px;
  }
  .faq-question {
    font-size: 22px;
  }
  .faq-answer {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .faq-title {
    font-size: 80px;
  }
  .faq-row {
    grid-template-columns: 1fr auto;
    grid-template-areas: 
      "question toggle"
      "answer answer";
  }
  .faq-item.open .faq-row {
    grid-template-areas: 
      "question toggle"
      "answer answer";
  }
  .faq-question {
    font-size: 20px;
  }
  .faq-answer {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .bandit-faq {
    padding: 0 15px;
  }
  .faq-title {
    font-size: 60px;
  }
  .faq-question {
    font-size: 18px;
  }
  .faq-answer {
    font-size: 14px;
  }
  .faq-toggle {
    min-width: 20px;
  }
}
