.header-currency-class {
    top: 110%; right: -100%;
}

.bb-country-currency-img 
{
    height: auto !important;
}
.bb-localization-form__select{
    margin: 0px !important;
    min-height: 0px;
}
.bb-localization-form__select::after{
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none;
}

.bb-localization-form__select:hover.bb-localization-form__select:after
{
    box-shadow: none;
}

.localization-form__select:focus.localization-form__select:after {
    box-shadow: none;
}
.bb-disclosure__list-wrapper {
    top: 120%;
    right: -22%;
    display: block;
    overflow: visible;
    background: var(--header_background);
    max-height: none;
}

.bb-disclosure__list {
    background: var(--header_background);
    max-height: none;
}
@media screen and (max-width: 480px) {
.bb-only-desktop
{
    display: none;
}
}