.footer-currency-class{
    bottom: 100%;
}

.footer-margin-class{
    margin: var(--sections-spacing) var(--sections-side-space) !important;
  }
.caption2{
    font-size: var(--tm-b-2-size);
}

.disclosure .bb-localization-form__select {
    padding-top: 1.25rem;
}