/* shopify code  */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .bandit-404-section {
    height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    padding: 8vh 0 15vh;
    overflow: visible;
    background-position: center;
    background-repeat: no-repeat;
  }

  .svg-text-flow {
    color: var(--text);
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scale(0.6);
    width: 100%;
    max-width: 1000px;
    overflow: visible;
  }

  .text-flow-10 {
    top: -2vh;
  }

  .text-flow-11 {
    top: -5vh;
  }

  .text-flow-12 {
    top: 18vh;
    align-items: center;
    left: 45%;
  }

  .text-flow-12-curved {
    top: 18vh;
    left: 45%;
  }

  .text-flow-12-stat {
    top: 15vh;
    left: 45%;
  }

  .slide-animation {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .main-404-button .primary-slide-button-arrow{
    display: none !important;
  }

  .slide-text {
    color: var(--text);
    /* font-size: 2px !important; */
    text-transform: uppercase;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 3s forwards;
    position: absolute;
    width: 100%;
    text-align: center;
  }

  .slide-text:nth-child(1) {
    animation-delay: 0.3s;
    top: 1vh;
    text-align: left;
    padding-left: 36%;
  }

  .slide-text:nth-child(2) {
    animation-delay: 0.3s;
    top: 6vh;
  }

  .slide-text:nth-child(3) {
    animation-delay: 1.3s;
    top: 30vh;
  }

  .slide-right {
    transform: translateX(100%);
  }

  @keyframes slideIn {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* default states for static mode */
.main-404-button.static {
  opacity: 1;
  transform: none;
  animation: none;
}

  .main-404-button {
    position: relative;
    top: 7vh;
    bottom: 10vh;
    display: inline-block;
    opacity: 0;
    transform: translateY(150px);
    animation: slideUpButton 0.5s forwards;
  }

   @keyframes slideUpButton {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media screen and (max-width: 768px) {

    /* .slide-text {
      font-size: 15px !important;
    } */

    .slide-text:nth-child(1) {
      top: 1vh;
      text-align: left;
    padding-left: 27%;
    }

    .slide-text:nth-child(2) {
      top: 3vh;
    }

    .slide-text:nth-child(3) {
      top: 16vh;
    } 

    .bandit-404-section {
      height: 37vh;
      padding: 8vh 0 10vh;
      /* font-size: 80px !important; */
    }

    .text-flow-10 {
      top: 1vh;
    }

    .text-flow-11 {
      top: -1vh;
    }

    .text-flow-12 {
      top: 24vh;
      left: 40%;
    }

    .text-flow-12-curved {
      top: 26vh;
      left: 35%;
    }

     .text-flow-12-stat {
      top: 15vh;
      left: 35%;
    }

    .main-404-button {
      top: 7vh;
    }

     .main-404-button.slide {
    top: 5vh;

  }
}

.third-text-path{
 opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to { opacity: 1; }
}
