.animated-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 4px;
  height: 1px;
  background-color: currentColor;
  width: 100%;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.6s ease-out;
}

.animated-underline:hover::after {
  transform: scaleX(0);
  transform-origin: right;
}


@media screen and (min-width: 1024px) {
.logo-container{
  margin-top: 70px;
}
}
