.blog-section p,
.blog-section h1,
.blog-section h2,
.blog-section h3,
.blog-section h4,
.blog-section h5,
.blog-section h6,
.blog-section div,
.blog-section span {
  margin: 0;
  padding: 0;
  line-height: 0.94 !important;
}
.zoom-trigger p,
.zoom-trigger h1,
.zoom-trigger h2,
.zoom-trigger h3,
.zoom-trigger h4,
.zoom-trigger h5,
.zoom-trigger h6,
.zoom-trigger div,
.zoom-trigger span {
  line-height: 0.94 !important;
}

@media (max-width: 767px) {
  .load-more-btn-fb-container {
    margin-top: 0px !important;
  }
  .arrow-svgsub {
    height: 17px;
    width: 16px;
  }
  .subclass-header {
    font-size: var(--tm-h-3-size) !important;
    line-height: var(--tm-h-3-line-height) !important;
    margin-bottom: 10px !important;
  }
  .subclass-subheader {
    font-size: var(--tm-b-3-size) !important;
    line-height: var(--tm-b-3-line-height) !important;
    margin-bottom: 35px;
    display: block;
  }
  .divclass {
    width: 371px;
  }
  .img1 {
    width: 100% !important;
  }
  .blog-grid {
    gap: 0 !important;
    padding-right: {{ settings.side_space | default: 20 }}px;
  }
  .last-visible-article {
    margin-bottom: 0 !important;
  }
  .blog-article.last-visible-article {
    margin-bottom: 0 !important;
  }
}

.text-article-date-color {
  margin-top: 6px;
  margin-bottom: 7px;
}
:focus {
  outline: 2px solid #f97316;
  outline-offset: 2px;
}

.subclass-header,
.subclass-subheader,
.blog_highlight-tag,
.blog_heading-highlight,
.text-article-date-color {
  color: var(--text);
}

.blog_highlight-tag {
  width: 100vw;
}

.arrow-svgsub {
  stroke: var(--text);
  fill: var(--text);
  margin-top: -6px;
  margin-right: 5px;
}



.subclass-header {
  font-weight: 500;
  margin-bottom: 2rem;
}

.group:hover img,
.zoom-trigger:hover img {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.blog-grid {
  display: grid;
  gap: 1.34vw;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .blog-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.blog-article {
  width: 100%;
}

.hidden-articles {
  display: none;
}

.show-articles {
  display: flex;
}
