.rich-text {
  z-index: 1;
  color: rgb(var(--color-foreground));
}

.rich-text__wrapper {
  display: flex;
  justify-content: center;
  width: calc(100% - 4rem / var(--font-body-scale));
}

.rich-text:not(.rich-text--full-width) .rich-text__wrapper {
  margin: auto;
  width: calc(100% - 8rem / var(--font-body-scale));
}


.rich-text__blocks * {
  overflow-wrap: break-word;
  color: inherit;
}

.rich-text__blocks > * {
  margin-top: 0;
  margin-bottom: 0;
}

.rich-text__blocks > * + * {
  margin-top: 2rem;
}

.rich-text__blocks > * + a {
  margin-top: 3rem;
}

.rich-text__buttons {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  max-width: 45rem;
  word-break: break-word;
}

.rich-text__buttons--multiple > * {
  flex-grow: 1;
  min-width: 22rem;
}

.rich-text__buttons + .rich-text__buttons {
  margin-top: 1rem;
}

.rich-text__blocks.left .rich-text__buttons {
  justify-content: flex-start;
}

.rich-text__blocks.right .rich-text__buttons {
  justify-content: flex-end;
}


.rich-text__caption {
  color: inherit;
  font-size: var(--caption-size, 16px);
  font-weight: var(--caption-weight, 400);
  margin-bottom: var(--spacing, 16px);
}

/* adding css from liquid file to css file - refactoring */
.rich-text ::selection {
    text-shadow: none;
    color: var(--accent);
    background-color: transparent;
}

  .text-center {
    text-align: center ;
  }

  .text-right {
    text-align: right ;
  }
  .text-left {
    text-align: left ;
  }

  .rich-text__spacing {
    height: 0;
    display: block;
    clear: both;
  }

    .rich-text--full-width,
  .content-container--full-width,
  .page-width {
    width: 100% ;
    max-width: 100vw ;
    /* margin-left: 0 ;
    margin-right: 0 ;
    padding-left: 0 ;
    padding-right: 0 ; */
    box-sizing: border-box;
  }

  .rich-text__blocks > * {
    margin: 0 !important;
  }



  .rich-text__heading {
  font-size: var(--t-h-2-size);
  line-height: var(--t-h-2-line-height);
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--t-h-2-weight);
}

.rich-text__subheading {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--t-h-5-weight);
  font-size: var(--tm-h-4-size) !important;
  line-height: var(--tm-h-4-line-height) !important;
  text-align: inherit !important;
}

.rich-text__text {
  font-size: var(--t-b-2-size);
  line-height: var(--t-b-2-line-height);
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--t-b-2-weight);
}

  .rich-text__heading,
  .rich-text__subheading,
  .rich-text__text {
    width: 100%;
    box-sizing: border-box;
  }

  a:focus,
button:focus,
div[role="button"]:focus {
  outline: 3px solid var(--accent);
  outline-offset: 2px;
}


@media screen and (min-width: 750px) {
  .rich-text__wrapper {
    width: 100%;
  }

  .rich-text__wrapper--left {
    justify-content: flex-start;
  }

  .rich-text__wrapper--right {
    justify-content: flex-end;
  }

  .rich-text__blocks {
    max-width: 50rem;
  }
}

@media screen and (min-width: 990px) {
  .rich-text__blocks {
    max-width: 78rem;
  }
}


  @media screen and (max-width: 749px) {
    .rich-text--full-width,
    .content-container--full-width,
    .page-width {
      padding-left: 5px !important;
      padding-right: 4px !important;
    }

    .rich-text__blocks {
      padding: 0 6px;
    }

    .rich-text__heading {
      font-size: var(--tm-h-2-size) !important;
      line-height: var(--tm-h-2-line-height) !important;
    }

    .rich-text__text {
      font-size: var(--tm-b-2-size) !important;
      line-height: var(--tm-b-2-line-height) !important;
      text-align: inherit !important;
    }
  }