.animated-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 7px;
  height: 2px;
  background-color: currentColor;
  width: 100%;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s ease-out;
}

.animated-underline:hover::after {
  transform: scaleX(0);
  transform-origin: right;
}

@media (max-width: 480px) {
  .scroll-tracker {
    margin-top:135%;
    margin-left: -10px;
    border-radius:0px
  }

@media screen and (min-width: 1024px) {
.logo-container{
  margin-lef:-200px;
}
}
