.blog-article-section iframe,
.blog-article-section video {
  width: auto;
  height:auto;
  object-fit: cover;
}
 .blog-article-section img{
   width: 100%;
  max-width: 100%;
  object-fit: cover;
}
p,h1,h2,h3,h4,h5,h6,div{
padding: 0 ;
}
  social-section p, social-section h1,social-section h2,social-section h3,social-section h4,social-section h5,social-section h6,social-section div {
  line-height: 1.3;
}
colordiv p,colordiv h1,colordiv h2,colordiv h3,colordiv h4,colordiv h5,colordiv h6,colordiv div{
line-height: 1.3;
}

 span {
  padding: 0;
}
.blog-article-section p:not(:first-of-type) {
  padding-top: 20px;
}
  @keyframes fadeInUpImage {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .blog-grid {
    display: grid;
    gap: 1.3vw;
    grid-template-columns: 1fr;
  }

  @media (min-width: 768px) {
    .blog-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1024px) {
    .blog-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .blog-article {
    width: 100%;
  }

  .subclass-header,
  .subclass-subheader,
  .blog_highlight-tag,
  .blog_heading-highlight,
  .text-article-date-color {
    color: var(--text);
  }

  .zoom-trigger:hover img {
    transform: scale(1.1);
    transition: transform 0.3s;
  }

  .blog-main-image {
    opacity: 0;
    transform: translateY(40px);
    animation: fadeInUpImage 1.2s ease-out forwards;
    animation-delay: 0.2s;
    
  }

  .blog-article-section {
    color: var(--text);
  }

  * {
    box-sizing: border-box;
  }

  #animated-heading {
    font-family: var(--font-heading-family);
  }

  .overlay-content {
    color: var(--text);
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    will-change: transform, position;
    transition: all 0.1s ease-out;
  }

  .main_heading {
    color: var(--header_text);
  }
.letter {
  display: inline-block;
  opacity: 0;
  transform: translateX(100vw);
  animation: slideInFromExtremeRight 0.3s forwards;
  animation-timing-function: ease-out;
}

@keyframes slideInFromExtremeRight {
  0% {
    opacity: 0;
    transform: translateX(100vw); 
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}




  .show_date,
  .card-excerpt {
    font-family: var(--font-body-family);
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .parallax-image-overlay {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    padding-right:{{settings.side_space }}px;
    height: 57%;
    width: 50vw;
    z-index: 2;
    pointer-events: none;
    margin-top: 631px;
    margin-bottom: -10px;
  }

  .parallax-image-overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    will-change: transform;
    transition: transform 0.1s ease-out;
  }

  .fade-up {
    animation: fadeUp 2.0s ease-out forwards;
  }

  .section-2-header {
    color: var(--text);
  }

  hr {
    border: none;
    border-top: 2px solid var(--text);
  }

  .arrow-svg12 {
    fill: none;
    flex-shrink: 0;
    stroke: var(--text);
  }

  .card-excerpt {
    margin-left: 150px;
  }
  .fade-in-up {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  }

  .fade-in-up.active {
    opacity: 1;
    transform: translateY(0);
  }

  ::selection {
    color:var(--accent);
  }

  .overlay-placeholder {
    display: block;
    width: 100%;
    visibility: hidden;
    pointer-events: none;
  }

  .animated-text {
    will-change: transform, opacity;
    backface-visibility: hidden;
    transform: translateZ(0);
    position: relative;
    z-index: 1;
  }

  .date-tag {
    font-family: var(--font-heading-family);
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }

  .excerpt {
    font-family: var(--font-heading-family);
  }

  @media (max-width: 768px) {
    .subclass-subheader span : last-of-type{
    margin-bottom: 0px;
  }
      .zoom-trigger img {
    transform: none !important;
    transition: none !important;
  }

  .zoom-trigger:hover img {
    transform: none !important;
  }
    .hrline{
    margin-top:0px !important;
  }
    .colordiv{
      padding-bottom: {{ section.settings.related_padding_mobile | default: 20 }}px !important;
    }
    .textdiv{
    width:79vw !important;
  }

    .mainhead{
    margin-top:0px !important;
  }
    .fb,.linked,.tw,.em{
    margin-right:20px !important;
  }
    .arrow-svgsub{
      height:16px;
      width:17px;
    }
    .blog-article-section iframe,
.blog-article-section video {
  width:100% !important;
}
    .blog-article-section img{
    height:auto;
  width:auto;
}
 .blog-article-section img {
  margin-bottom: 20px !important;
  margin-top:0px !important;
}
.blog-article-section p{
   margin-bottom: 20px !important;
  margin-top:20px !important;
}

    .maintext{
      margin-top:0vh !important;
    }
     .fb,.linked,.tw,.em{
    margin-right:20px !important;
  }
   .blog-article-section video,
    .blog-article-section iframe{
  height: auto;
  aspect-ratio: 16 / 9;
}
     .subclass-header {
      font-size: 24px !important;
      margin-bottom:10px !important;
    }
    .subclass-subheader {
      display:block;
      font-size: 16px !important;
      line-height: 1.1;
      padding-bottom:35px !important;
    }
     .subclass-subheader.no-padding-bottom {
    padding-bottom: 0px !important;
  }
       .social{
      padding-top:20px;
      padding-bottom:20px;
      height:11.7vh !important;
    }
    .sharebtn{
      margin-top:0px !important;
      margin-right:0px !important;
      display:block;
      margin-bottom:10px !important;
    }
    .text-article-date-color{
      font-size:16px !important;
      margin-top:10px !important;
      margin-bottom:20px !important;
    }
    .section-2-header {
      margin-left:0px !important;
      font-size: 24px !important;
      line-height:1 !important;
      padding-top:3.1vh !important;
      height:85px !important;
      padding-bottom:3.1vh !important;
    }
    .blog-grid {
      margin-top: 0px !important;
      margin-left: 0px !important;
    }
    .blog-article{
      padding-right:0px !important;
    }

    .blog_heading-highlight {
      font-size: 24px !important;
      margin-bottom: 40px !important;
      margin-top: 20px !important;
      width:94.5vw;
    }

    .parallax-image-overlay {
    position: absolute !important;
    width: 70% !important;
    height: 280px !important;
    max-height: 50vh;
    margin-top: 123px !important;
    z-index: 2;
    pointer-events: none;
  }
.parallax-image-overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: transform;
  transition: transform 0.1s ease-out;
}

    .section1 {
      min-height: 92vh !important;
    }

    .overlay-content {
      margin-top: 0px !important;
    }

    .card-excerpt {
      margin-left: 25px !important;
    }

    #animated-heading {
      font-size: var(--tm-h-1-size) !important;
      width: 70vw !important;
    }

    .arrow-svg12 {
      display:none !important;
      margin-left: 0px !important;
      margin-top: 6px !important;
    }

    .main_heading {
      margin-left: -206px !important;
    }

    .show_date {
      font-size: var(--tm-b-2-size) !important;
      margin-left: 0rem !important;
      margin-top:8px !important;
    }

  .blog-article-container {
      margin-top: 20px !important;
    }

    .blog-article-header {
      height:85px;
    }


    .overlay-content.mobile-fixed {
      position: fixed !important;
      top: 55px !important;
      left: 0 !important;
      width: 100vw !important;
      z-index: 1 !important;
      padding: 0 10px !important;
      max-width: 100vw !important;
    }

    .overlay-content.mobile-absolute {
      position: absolute !important;
      left: 0 !important;
      width: 100vw !important;
      z-index: 1 !important;
      background: transparent !important;
      backdrop-filter: none !important;
      -webkit-backdrop-filter: none !important;
    }

    .blog-article-section {
      width: 100% !important;
      margin: 0 auto !important;
      line-height: 1.3;
      margin-top: 3px !important;
      margin-bottom: 20px;
    }

    .animated-text {
      letter-spacing:-4px;
      font-size: var(--tm-h-1-size) !important;
    }
     .social-section{
      height:79px !important;
      width:100vw !important;
    }
    .social-media {
      height:79px;
      padding-top: 18px !important;
      padding-bottom:0px !important;
      padding-left:0px !important;
      padding-right:0px !important;
      font-size: 13px !important;
      
    }

    body {
      overflow-x: hidden;
    }

    .section1,
    .parallax-container {
      overflow-x: hidden;
      min-height: 88vh !important;
      padding-right:{{ settings.side_space }}px;
    }
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    .parallax-image-overlay {
      width: 60vw !important;
      height: 50% !important;
      margin-top: 350px !important;
    }

    .overlay-content {
      padding: 0 20px !important;
    }

    .blog-article-section {
      width: 70% !important;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .overlay-content {
      backface-visibility: hidden;
      transform: translateZ(0);
    }
  }
  .subclass-header{
    margin-bottom:20px;
  }
  @media (max-width: 768px) {
  .parallax-image-overlay {
    width: 65% !important;
    height: clamp(235px, 34vh, 340px) !important;
    margin-top: 327px !important;
    z-index: 2;
    pointer-events: none;
  }

  .parallax-image-overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    will-change: transform;
    transition: transform 0.1s ease-out;
  }
}
 #overlayContent {
  transition: top 0.000001s ease-out;
  will-change: top;
}
.blog-article-section div{
margin-top:20px;
}
.blog-article-section p:last-of-type {
  margin-bottom: 20px; !important;
}

