.animated-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: currentColor;
  width: 100%;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s ease-out;
}

.animated-underline:hover::after {
  transform: scaleX(0);
  transform-origin: right;
}


.social-icons{
  display:flex;         
  justify-content:flex-end;  
  align-items:center;   
  gap:0.75rem;        
  padding-right:10%;
  margin-top: 50px;
}
