.footer-text {
    color: gray;
    transition: color 0.3s ease;
  
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 16px;
    color: var(--text) ;
  }
  .footer-text:hover {
    opacity: 1; 
    color: var(--accent) ;
  }
  
  .site-credit-link {
    color: gray;
    transition: color 0.3s ease;
    position: relative;
    /* Use Shopify's body typography variables */
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    opacity: 0.9;
    margin-right: 10px;
    line-height: 16px;
    color: var(--text) ;
  }
